.first {
    border-right: solid black;
    border-left: solid black;
    width: 200px;
    border-bottom: solid black;
    cursor: pointer;
}
.first:hover {
    color: none;
    text-decoration: none;
    background: orange;
}